@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Playfair+Display&family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 85vh;
  width: 100vw;
  background-color: #fdf6f2 !important;
  
}
/* -----------admin page css------------------ */
.admin-login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-pizza-logo{
display: flex;
justify-content: center;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}
.admin-pizza-logo img{
  width:150px;
  height: 150px;
}

.errrorText {
  font-size: 12px;
  color: crimson;
}